*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
.AdminNavbar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 20px;
}
.AdminNavbar_ul{
    display: flex;
    flex-direction: row;
    li{
        margin-left:200px ;
    
        a{
            color: white;
            font-size: 30px;
        }
    }
}